%h1 Tasks#show

= @date
%br
- @tasks.each do |task|
  = task.title
  = (task.end_at - task.start_at) / 60
  %br
= form_for @task, url: tasks_path do |f|
  = time_select 'task', 'start_at', { minute_step: 10, ampm: true }
  = time_select 'task', 'end_at', { minute_step: 10, ampm: true }
  = f.text_field :title
  = f.hidden_field :year, value: params[:year]
  = f.hidden_field :month, value: params[:month]
  = f.hidden_field :day, value: params[:day]
  = f.submit
%br
= link_to '一覧へ戻る', tasks_months_path(year: @date.year, month: @date.month)
