= show_date(@date)
%br
合計時間:
= total_time_from_tasks(@tasks, @date) || 'まだタスクが登録されていません。'
%br
- @tasks.each do |task|
  = task.title
  = time_format_from_task(task, @date)
  = time_range_format(task, @date)
  %br
= form_for @task, url: tasks_path do |f|
  = datetime_select 'task', 'start_at', { minute_step: 10, ampm: true, default: set_time_select_to_now(@date) }
  = datetime_select 'task', 'end_at', { minute_step: 10, ampm: true, default: set_time_select_to_now(@date) }
  = f.text_field :title
  = f.hidden_field :year, value: params[:year]
  = f.hidden_field :month, value: params[:month]
  = f.hidden_field :day, value: params[:day]
  = f.submit
%br
= link_to '一覧へ戻る', tasks_months_path(year: @date.year, month: @date.month)
