- if flash[:notice]
  - flash[:notice].values.each do |a|
    = a.first
    %br
= l @date, format: :date
%br
合計時間:
= total_time_from_tasks(@tasks, @date) || 'まだタスクが登録されていません。'
%br
- @tasks.each do |task|
  = task.memo
  = time_format_from_task(task)
  = show_time_range(task)
  - if task.tag_id
    = Tag.find(task.tag_id).name
  = link_to '[X]', task_path(id: task.id, date: @date), method: :delete
  %br
= form_for @task, url: tasks_path do |f|
  = datetime_select 'task', 'starts_at', { discard_year: true, minute_step: 10, ampm: true, default: set_time_select_to_now(@date) }
  = datetime_select 'task', 'ends_at', { discard_year: true, minute_step: 10, ampm: true, default: set_time_select_to_now(@date) }
  = f.text_field :memo
  = f.hidden_field :year, value: params[:year]
  = f.hidden_field :month, value: params[:month]
  = f.hidden_field :day, value: params[:day]
  = f.select :tag_id, current_user.tags.all.collect { |t| [t.name, t.id] }, include_blank: true
  = f.submit
%br
= link_to '一覧へ戻る', tasks_months_path(year: @date.year, month: @date.month)
