- if @tags
  - @tags.each do |tag|
    = tag.name
    = link_to '[タグ名を変更する]', edit_tag_path(id: tag.id)
    = link_to '[X]', tag_path(id: tag.id), method: :delete
    - if tag.goal
      = tag.goal.time
      = link_to '[目標時間を変更する]', edit_goal_path(id: tag.goal.id)
      = link_to '[X]', goal_path(id: tag.goal.id), method: :delete
      %br
    - else
      = link_to '毎月のゴールを設定しますか？', new_goal_path(tag_id: tag.id)
  %br

= link_to 'タグを作る', new_tag_path
