- if flash[:notice]
  - flash[:notice].values.each do |a|
    = a.first
    %br
- if @tags
  - @tags.each do |tag|
    = tag.name
    = link_to '[タグ名を変更する]', edit_tag_path(id: tag.id)
    = link_to '[X]', tag_path(id: tag.id), method: :delete
    - if tag.goal
      = goal_time_to_total(tag.goal)
      = link_to '[目標時間を変更する]', edit_tag_goal_path(id: tag.goal.id, tag_id: tag.id)
      = link_to '[X]', tag_goal_path(id: tag.goal.id, tag_id: tag.id), method: :delete
      %br
    - else
      = link_to '毎月の目標合計時間を設定しますか？', new_tag_goal_path(tag_id: tag.id)
  %br
= link_to 'タグを作る', new_tag_path
%br
= link_to '一覧へ戻る', "/tasks/#{Time.zone.now.year}/#{Time.zone.now.month}"
