= l @date, format: :month
%br
- (@date.beginning_of_month.day..@date.end_of_month.day).each do |date|
  - date_in_time = Time.zone.local(params[:year], params[:month], date)
  = link_to (l date_in_time, format: :day), tasks_days_path(year: params[:year], month: params[:month], day: date)
  %br
  - if @tasks[date]
    合計時間:
    = total_time_from_tasks(@tasks[date], date_in_time)
    %br
    - @tasks[date].each do |task|
      - unless task.blank?
        = task.memo
        = time_format_from_task(task)
        = show_time_range(task)
        %br
  %br
= link_to "<#{params[:year]}#{t :year}#{params[:month].to_i - 1}#{t :month}", tasks_months_path(year: params[:year], month: params[:month].to_i - 1)
= link_to "今月へ戻る", tasks_months_path(year: Time.zone.now.year, month: Time.zone.now.month)
= link_to "#{params[:year]}#{t :year}#{params[:month].to_i + 1}#{t :month}>", tasks_months_path(year: params[:year], month: params[:month].to_i + 1)
%br
= link_to 'ログアウトする', logout_path
