- if flash[:alert]
  = flash[:alert]
  %br
= l @date, format: :month
%br
- (@date.beginning_of_month.day..@date.end_of_month.day).each do |date|
  - date_in_time = Time.zone.local(params[:year], params[:month], date)
  = link_to (l date_in_time, format: :day), tasks_days_path(year: params[:year], month: params[:month], day: date)
  %br
  - if @tasks[date]
    合計時間:
    = total_time_from_tasks(@tasks[date], date_in_time)
    %br
    - @tasks[date].each do |task|
      - unless task.blank?
        = task.memo
        = time_format_from_task(task)
        = show_time_range(task)
        %br
  %br

登録タグ：
%br
- if @achievements
  - if @achievements.blank?
    - Tag.where(user: current_user).each do |tag|
      = tag.name
      = achievement_time_format(tag.goal.to_seconds) if tag.goal
      %br
  - @achievements.each do |name, time|
    = name
    = achievement_time_format(Tag.find_by(name: name).goal.to_seconds) if tag.goal
    = achievement_time_format(time)
    - if @goals[name]
      - if @goals[name] <= time
        今月はゴール目標を達成しています。
      - else
        残り
        = achievement_time_format(@goals[name] - time)
        で、今月の目標を達成します。
    - else
      このタグには、毎月の目標時間が設定されていません。
    %br
- if !@achievements && Tag.where(user: current_user).blank?
  まだタグが登録されていません。タグを登録すると、タスクを分けるのに便利です。
%br
%br

- if params[:month].to_i - 1 <= 0
  = link_to "<#{params[:year].to_i - 1}#{t :year}12#{t :month}", tasks_months_path(year: params[:year].to_i - 1, month: 12)
- else
  = link_to "<#{params[:year]}#{t :year}#{params[:month].to_i - 1}#{t :month}", tasks_months_path(year: params[:year], month: params[:month].to_i - 1)
= link_to "今月へ戻る", tasks_months_path(year: Time.zone.now.year, month: Time.zone.now.month)
- if params[:month].to_i + 1 >= 13
  = link_to "#{params[:year].to_i + 1}#{t :year}1#{t :month}>", tasks_months_path(year: params[:year].to_i + 1, month: 1)
- else
  = link_to "#{params[:year]}#{t :year}#{params[:month].to_i + 1}#{t :month}>", tasks_months_path(year: params[:year], month: params[:month].to_i + 1)
%br
= link_to 'タグを作る', tags_path
%br
= link_to 'ログアウトする', logout_path
