- if @goal.errors.any?
  - @goal.errors.full_messages.each do |msg|
    = msg
    %br

= form_for @goal, url: tag_goals_path do |f|
  = f.text_field :time
  = f.hidden_field :tag_id, value: @tag.id
  = f.submit
