- if @goal.errors.any?
  - @goal.errors.full_messages.each do |msg|
    = msg
    %br

= form_for @goal do |f|
  = f.time_field :time, include_seconds: false
  = f.hidden_field :tag_id, value: @tag.id
  = f.submit
