- if @goal.errors.any?
  - @goal.errors.full_messages.each do |msg|
    = msg
    %br
= form_tag tag_goals_path do |f|
  = text_field_tag :hours
  = text_field_tag :minutes
  = hidden_field_tag :tag_id, value: @tag.id
  = submit_tag '送信'
